$color-primary: #ff000d;
$color-secondary: #ffffff;
$color-tertiary: #25317d;

$font-primary-op1: 'Old Standard TT', serif;
$font-primary-op2: 'Gloock', serif;
$font-secundary-op1: 'Montserrat', sans-serif;
$font-secundary-op2: 'Poppins', sans-serif;

$font-size-st: 0.7vh;
$font-size-sr: 1vh;
$font-size-s: 1.5vh;
$font-size-m: 1.7vh;
$font-size-l: 2.5vh;
$font-size-lr: 3.5vh;
$font-size-xl: 7vh;
$font-size-lt: 18vh;

$shadow-magazine: 15px 15px 20px -7px rgba(0, 0, 0, 0.75);

$z-index-model: 10;
$z-index-title: 100;
$z-index-content: 100;

$font-weigth-sr: 100;
$font-weigth-s: 200;
$font-weigth-m: 400;
$font-weigth-l: 700;
$font-weigth-lt: 900;
