@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto&family=Rubik+Bubbles&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

h3.upper {
  text-transform: uppercase;
}

.magazine {
  width: 60vh;
  height: 85vh;
  background-color: #6dafc7;
  background-size: cover;
  margin: 7.5vh auto;
  position: relative;
}
.magazine__title {
  font-family: "Rubik Bubbles", cursive;
  color: ghostwhite;
  font-size: 9vw;
  text-align: center;
}

.beauty {
  font-family: "Roboto", cursive;
  color: ghostwhite;
  font-size: 1vw;
  position: absolute;
  top: 2.5vw;
  right: 2vw;
}

.content {
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}
.content__subtitle {
  font-family: "Aboreto", cursive;
  font-size: 3vw;
  color: ghostwhite;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 2.5vw;
  margin-top: 65% !important;
}
.content__subtitle span:first-child,
.content__subtitle span:last-child {
  font-size: 1vw;
  font-size: 1vw;
  color: ghostwhite;
  margin-top: 14px;
  margin-inline: 15px;
}
.content__left {
  font-family: "Roboto", cursive;
  color: ghostwhite;
  font-size: 1vw;
  padding-left: 5%;
  line-height: 11px;
}
.content__end {
  font-family: "Aboreto", cursive;
  color: ghostwhite;
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}

.img {
  width: 100%;
  position: absolute !important;
  top: 12%;
  z-index: 1;
}

.date {
  font-family: "Roboto", cursive;
  font-size: 0.6vw;
  color: ghostwhite;
  writing-mode: vertical-rl;
  position: absolute;
  top: 23vw;
  right: 4vw;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
