@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto&family=Rubik+Bubbles&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

.magazine {
  width: 60vh;
  height: 85vh;
  background-color: #6dafc7;
  margin: 7.5vh auto;
  position: relative;
}
.magazine__title {
  font-family: "Rubik Bubbles", cursive;
  color: ghostwhite;
  font-size: 18vh;
  text-align: center;
}
.magazine__subtitle {
  font-family: "Roboto", cursive;
  color: ghostwhite;
  font-size: 2.2vh;
  position: absolute;
  top: 2.5vh;
  right: 2vh;
}

.content {
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 10;
}
.content__left {
  font-family: "Roboto", cursive;
  color: ghostwhite;
  font-size: 2.2vh;
  padding-left: 5%;
  line-height: 2.2vh;
  position: relative;
  z-index: 20;
}
.content__left--upper {
  text-transform: uppercase;
  font-family: "Aboreto", cursive;
  font-size: 2.5vh;
}
.content__bottom {
  font-family: "Aboreto", cursive;
  width: 100%;
  color: ghostwhite;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 38vh;
}
.content__bottom--date {
  font-family: "Roboto", cursive;
  font-size: 1.5vh;
  color: ghostwhite;
  position: absolute;
  left: 49vh;
  top: 8.3vh;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.content__bottom--subtitle {
  display: flex;
  width: 100%;
  font-size: 8vh;
  line-height: 6vh;
  justify-content: center;
}
.content__bottom--subtitle span {
  font-size: 3vh;
  color: ghostwhite;
  margin: 3vh 1vh;
}
.content__bottom--subtitle--end {
  font-size: 1.8vh;
}
.content .img {
  width: 100%;
  position: absolute;
  top: -79%;
  z-index: 10;
}

/*
writing-mode: vertical-rl;
position: absolute;
top: 23vw;
right: 4vw;
white-space: nowrap;*/

/*# sourceMappingURL=style.css.map */
