$color-primary: #FFFFFF;
$color-secondary: #293D82;
$color-tertiary: #F8F044;
$font-primary: 'Inter';
$font-size-s: 1.4vh;
$font-size-m: 2.3vh;
$font-size-l: 3.2vh;
$z-index-prin:100;
$z-index-seco:50;
$z-index-terc:0;
$shadow-magazine: 15px 15px 20px -7px rgba(0, 0, 0, 0.4);