body{
    background-image: url("http://i.stack.imgur.com/jGlzr.png");
    background-size: cover;
    background-repeat: round;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 70vh;
    height: 80vh;
    margin: 5rem auto;
    position: relative;
    box-shadow: 15px 15px 20px -7px rgba(0, 0, 0, 0.75);
}

.tittle-container{
    font-size: 17vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-inline: auto;
  width: fit-content;
  position: relative;
  z-index: 100;
  color: #ff000d;
}

.tittle-container h1{
    line-height: 0.5;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: 5px;
  top: 0;
}

.tittle-container span{
    font-family: "Montserrat", sans-serif;
  font-size: 0.7vh;
  text-align: right;
  padding-inline: 7vh;
  color: #ffffff;
}

.emma-stone-photo{
    position: absolute;
    top: -3%;
    left: 0.3%;
    height: auto;
    z-index: 10;
}

.content{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    z-index: 100;
}

.left-content{
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    padding: 10px;
}

.right-content{
    text-align: end;
    margin: auto 0;
    padding:5px;
}

.right-content p {
    display: contents;
}

.right-content h2{
    font-size: 3rem;
    list-style: 1.3;
    font-weight: bold;
    text-transform: uppercase;
}

.plus{
    width: 50px;
    margin: 0 auto;
    margin-left: 85%;
    padding: 10px;
}

.right-content h3{
    font-size: 2rem;
}

h2{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

p{
    font-weight: bold;
    font-size: 2rem;
    
}

.content--white{
    text-transform: uppercase;
    color: #FFF;
}

.content-blue{
    color: #0077b6;
}

.content-red{
    color: #e63946;
}