$color-primary:#0e0e10;
$color-secondary:#ec629d;
$color-third:#282426;
$color-four:#fbfdfe;

$font-primary: 'M PLUS 1p', sans-serif;
$font-secundary: 'Arapey', serif;
$font-alternate: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

$font-size-xs: 2vh;
$font-size-s: 2.7vh;
$font-size-m: 3vh;
$font-size-ml:4.5vh;
$font-size-l: 5vh;
$font-size-xl: 11.5vh;

$shadow-magazine: 4px 5px 0px 4px rgba(0,0,0,0.75);

$z-indez-model: 10;
$z-indez-content: 20;
$z-indez-code:30;
$z-indez-superfiesta:35; 

