/**
  Fuentes:
  - https://www.youtube.com/watch?v=Foieq2jTajE&t=405s
  - https://github.com/eduardofierropro/Reset-CSS
*/
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Arapey&family=Bilbo&family=Carattere&family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
@font-face {
  font-family: "KaushanScript-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/KaushanScript-Regular.otf") format("opentype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--typography-principal);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

.magazine {
  width: 60vh;
  height: 85vh;
  margin: 7.5vh auto;
  background: rgb(250, 250, 250);
  background: radial-gradient(circle, rgb(250, 250, 250) 0%, rgba(116, 191, 218, 0.9724264706) 100%);
  position: relative;
  box-shadow: 15px 15px 20px -7px rgba(0, 0, 0, 0.4);
}
.magazine__title {
  font-size: 16vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;
  width: fit-content;
}
.magazine__title h1 {
  line-height: 0.8;
  color: #ea0284;
}
.magazine__title span {
  font-family: system-ui;
  font-size: 1.1vh;
  align-self: end;
  font-weight: 100;
}
.magazine__model {
  position: absolute;
  top: 0;
  left: -25px;
  height: 100%;
  z-index: 5;
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.content__left {
  font-size: 2.8vh;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "M PLUS 1p", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__right {
  font-size: 2.8vh;
  font-family: "M PLUS 1p", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.content__wording {
  font-weight: 500;
  margin: 1.5vh 0.5vh;
  display: flex;
  flex-direction: column;
}
.content__wording--pink {
  color: #ea0284;
}
.content__wording--small {
  font-size: 1.8vh;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2.3vh;
}
.content__wording--big {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 13vh;
  font-weight: 100;
  line-height: 0.6;
}
.content__wording--cursive {
  font-family: "Carattere", cursive;
  font-size: 4vh;
  text-transform: lowercase;
  font-weight: 100;
}
.content__wording--cursiveTitle {
  font-family: "Carattere", cursive;
}
.content__wording--extrasmall {
  font-size: 1vh;
}
.content__wording h2:first-child {
  font-family: "Carattere", cursive;
}
.content img {
  width: 15vh;
  height: auto;
  margin: 8px;
}

/*# sourceMappingURL=style.css.map */
