@import './assets/styles';

.magazine{
    width: 60vh;
    height: 85vh;
    margin: 7.5vh auto;
    background: rgb(250,250,250);
    background: radial-gradient(circle, rgba(250,250,250,1) 0%, rgba(116,191,218,0.9724264705882353) 100%);
    position: relative;
    box-shadow: $shadow-magazine;

    &__title{
        font-size: $font-size-xl;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-inline: auto;
        width: fit-content;   
    }
    &__title h1{
        line-height: 0.8;
        color: $color-secondary;
    }
    &__title span {
        font-family: system-ui;
        font-size: $font-size-s;
        align-self: end;
        font-weight: 100;
    }
    &__model{
    position: absolute;
    top: 0;
    left: -25px;
    height: 100%;
    z-index: $z-index-model;
    }
}

.content {
    position: relative;
    z-index: $z-index-section;
    display: flex;
    justify-content: space-between;
    &__left{
        font-size: 2.8vh;
        font-family: $font-secondary;
        font-family: $font-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__right{
        font-size: 2.8vh;
        font-family: $font-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    &__wording{
        font-weight: 500;
        margin: 1.5vh 0.5vh;
        display: flex;
        flex-direction: column;
        
        &--pink{
            color: $color-secondary;
        }&--small{
            font-size: 1.8vh;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 2.3vh;
        }&--big{
            font-family: $font-big;
            font-size: 13vh;
            font-weight: 100;
            line-height: 0.6;
        }&--cursive{
            font-family:  $font-cursive2;
            font-size: 4vh;
            text-transform: lowercase;
            font-weight: 100;
        }&--cursiveTitle{
            font-family: $font-cursive2;

        }
        &--extrasmall{
            font-size: 2vh;
        }
        h2:first-child{
            font-family: $font-cursive2;
            font-size: 4vh;
            line-height: 0.8;
        }
        
    }
    
    img{
        width: 15vh;
        height: auto;
        margin: 8px;
    }
}