@import './assets/styles';

body {
  background-image: url('./assets/img/wood_background.jpg');
  background-size: cover;
  background-repeat: round;
}

.magazine {
  width: 60vh;
  height: 85vh;
  margin: 7.5vh auto;

  background-image: url('./assets/img/green_background.webp');
  background-size: cover;

  position: relative;

  box-shadow: $shadow-magazine;

  &__title {
    font-family: $font-primary;
    font-size: $font-size-xl;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-inline: auto;
    width: fit-content;
  }

  &__title h1 {
    line-height: 0.8;
  }

  &__title span {
    font-family: $font-alternate;
    font-size: 2.5vh;
  }

  &__model {
    position: absolute;
    top: 0;
    left: 6%;
    height: 100%;
    z-index: $z-indez-model;
  }
}

.content {
  z-index: $z-indez-section;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;

  &__left {
    font-weight: 500;
  }

  &__right {
    visibility: hidden;
    font-weight: 400;
  }

  &__wording {
    line-height: 1;
    &--pink {
      color: $color-secondary;
    }

    p {
      font-size: 2.8vh;
    }

    b:first-child {
      font-size: 5.6vh;
    }

    b:last-child {
      font-size: 4.1vh;
    }
  }
}

.content__bar-code {
  display: none;
}
