$color-primary: #000000;
$color-secondary: #0ddd6b;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Lato', sans-serif;

$font-size-m: 3.1vh;
$font-size-s: 1.5vh;


$shadow-form: 5px 15px 12px 0px rgba(20, 181, 245, 0.4);