* {
    box-sizing: border-box;  /*box-sizzing me sirve para no tener que dar scroll*/
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkkhaki;
    width: 100%;
    padding: 18px;
  }

  .newsletter {
    background-color: #f6f6f6;
    border: 1px solid black;
    padding: 10px;
    width: 410px;
  }

  .name-page {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
  }
  
  .name-page p {
    font-size: 35px;
    padding-bottom: 6px;
    font-family: 'Open Sans', sans-serif,cursive;
  }

  .information {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  
  .information p {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
  }

  .title h1 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0 0;
    padding: 0 10px;
  }
  
  .paragraphs {
    display: flex;
  }
  
  .paragraphs .left-side {
    margin-right: 10px;
    width: 50%;
  }
  
  .paragraphs .left-side h2 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    margin: 4px 0 0;
    padding: 0 10px;
  }
    
  .right-side {
    width: 50%;
  }
  
  .right-side img {
    transform: rotate(-1deg);
    width: 200px;
    height: 250px;
    border-style: groove;
  }
  .paragraphs .left-side  p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .right-side p {
    font-size: 12px;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
  }

  @media (min-width:320px) { 
    .right-side img {
      transform: rotate(-1deg);
      width: 200px;
      height: 250px;
      border-style: groove;
    }
  }