/**
  Fuentes:
  - https://www.youtube.com/watch?v=Foieq2jTajE&t=405s
  - https://github.com/eduardofierropro/Reset-CSS
*/

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'KaushanScript-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/KaushanScript-Regular.otf') format('opentype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: var(--typography-principal);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;

  line-height: 1.4; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}
