* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #5d6194;
    display: grid;
    place-items: center;
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    max-width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.calculadora {
    background-color: #043f47;
    color: white;
    display: grid;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem; 
}


.pantalla {
    grid-column: 1 / -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn {
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #090c31;
}

 
#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #831e29;
}

#igual:hover {
    background-color: #cc3b49;
}