@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Overlock:ital@1&family=Stint+Ultra+Condensed&display=swap');

html{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/58/19/305868a3ffc5c1e.jpg);
}

.header-general , main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
}

.information-header{
    display: flex;
    justify-content: space-between
}

.logo1, .logo2 {
    width: 200px;
    height: 200px;
    border: 2px black solid;
    margin: 14px 10px 0px 10px;
}

.tittle-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

h1:first-child {
    margin: 40px 0px 0px 0px;
    font-size: 100px;
}

.data {
    display: flex;
    justify-content: space-around;
    width: 800px;
    background-color: black;
    color: white;
    font-size: 16px;
    height: 50px;
    align-items: center;
}


.tittle-notice {
    width: 1190px;
    font-size: 50px;
    margin-top: 0px;
    border-bottom: 4px solid black;
    text-align: center;
}

main p::first-letter {
    font-size: 140%;
    font-weight: bold;
}

.content {
    display: flex;
    margin: 0px;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 250px;
    text-align: justify;
    margin: 0px;
}

.right-side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 900px;
    margin-left: 15px;
    border-left-style: solid;
    border-left-color: black;
}

.photos-family {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-template-rows: 50% 50%;
    width: 900px;
    height: 450px;
    justify-content: end;
    align-content: stretch;
    margin-left: 30px;
}

img {
    width: 260px;
    height: 220px;
    
}

img:hover {
    filter: grayscale(80%);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.photo-caption {
    margin: 0px 0px 0px 18px;
}

.text-right-center {
    display: flex;
    justify-content: space-around;
    border-top-style: solid;
    border-top-color: black ;
}

.text-bottom {
    display: grid;
    grid-template-columns: 26% 26% 24% 24%;
    margin: 0px;
}

.text-bottom p {
    margin-top: 0px;
}

.vertical-p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: justify;
    height: 200px;
    margin-left: 30px;
}

.family-real{
    width: 190px;     
    height: 190px;
    margin-left: 20px;
}

.text-bottom-right {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

p {
    font-family: 'Overlock', cursive;
    text-align: justify;
}

