@import './assets/styles';

body {
    background-image: url("https://www.pixeden.com/media/k2/galleries/220/001-wood-melamine-subttle-pattern-background-pat.jpg");
    background-image: url(./assets/img/001-wood-melamine-subttle-pattern-background-pat.jpg);
    background-size: cover;
    background-repeat: round;
    margin: 20px;
   
}

.magazine {
  background-color:darksalmon;
  width: 50vw;
  height: 85vh;
  width: 60vh;
  margin: auto;
  margin: 7.5vh auto;
  background-image: url(./assets/img/gray-wood-texture-background_64749-613.avif);
  background-size: cover;  /*ajusta sin que sobren elementos*/
  position: relative;
  box-shadow: $shadow-magazine;

  &__model { 
      position: absolute;
      top: 0;
      left: 6%;
      height: 100%;
      z-index: $z-indez-model;

  }
    &__title {

    line-height: 1; /*Interlineado*/
    flex-direction: column;
    font-size: $font-size-xl; 
    color: $color-secondary;
    text-transform: uppercase;  /*Transforma el texto en mayuscula*/
    text-align: center;
    margin-inline:auto;
    margin: 8px 0 0;  
    font-family: $font-primary;
    width: fit-content; /*Se ajusta al tamaño de los hijos*/
    font-weight:bolder;  
    
      
        p:first-child {
        font-size: $font-size-s;
        color: $color-four;
        font-weight:200;
        text-transform:none;
        margin-inline:auto;
        font-family: $font-secundary;
        }

        p:last-child {
        line-height: 0.8;
        color: $color-third;
        font-size: $font-size-xs;
        font-family: $font-secundary;
        justify-content:center;
        align-items: flex-start;
        margin-left: 80px;
        }
    
    }
           

  }
  
  .content {
    z-index: $z-indez-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    &__left {
      font-weight:300;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

  
    &__right {
      font-weight:300;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-right: 20px;
    }
  
    &__wording {
      line-height: 1;

      &--pink {
        color:$color-secondary;
        font-weight:bold;
        font-size: $font-size-l;
      }

      &--white {
        color:$color-four;
        font-size: $font-size-m;
    }

    &--black {
      color:$color-primary;
      font-size: $font-size-s;
    }
    }

    &__sos {
      color:$color-four;
      font-size: $font-size-m;
      background-color: rgba(255, 0, 255, 0.952);
      font-weight: 700;
     
    }
     
  }

  .money {
    line-height: 1;
    display:block;
    position: relative;
    color: $color-four;
  
 
    
  
    &__love {
      display: inline-block;
      font-size: $font-size-l;
      font-weight: bold;
    }
  
    &__have {
      display: inline-block;
      font-size: $font-size-m;
      font-weight: 300;
    }
  }

   
  .ideas {
    line-height: 1;
    display:inline-block;
    position: relative;
  
     
  
    &__200 {
      font-size: $font-size-l;
      color:$color-secondary;
      font-weight: bold;
    }
  
    &__dazzling {
      font-size: $font-size-m;
      color: $color-primary;
      font-weight: bold;
    }
  }
  
  
  .Jenifer {
    display:inline-block;
    position: relative;
    color:$color-primary;
    margin-left: 20px;

    &__lopez {
      font-size: $font-size-m;
     font-weight: bold;
    }

    &__soltera {
      font-weight: 300;
      font-size: $font-size-s;
    }
  }

  .code {
    display:flex;
    flex-direction:row;
    position: relative;;
    height: 80px;
    width: 80px;
    z-index: $z-indez-code; 
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -40px;
    padding-left: 20px;
     

    &__barra {
      display: inline;
      margin-left: 10px;

    }

     &__regalos {
      display: inline;
      font-size: $font-size-s;   
      margin-left: 60px;   
      font-weight: 700;
      
    }
  }

    .superfiesta {
      display: inline-block;
      position: relative;
      color:$color-secondary;
      font-weight:bolder; 
      font-size: $font-size-ml;
      margin-left: 90px;
      margin-top: 10px;
      z-index: $z-indez-superfiesta; 
      line-height: 1.1;

      
    }