$color-primary: #0f88f1
#1a0dab         
$color-secundary #151010
#8d296e 
// 
#0f88f1 
// 
#ebe1e1 
// 
#e91e63 


$font-primary 'Assistant', sans-serif;
$font-secundary: 'Poppins', sans-serif;

$font-size-s://10px;
$font-size-m;//20px;

