$color-primary: #0b181f;
$color-secondary: #ea0284;

$shadow-magazine: 15px 15px 20px -7px rgb(0,0,0,0.4);

$font-primary: 'Arapey', serif;
$font-secondary: 'M PLUS 1p', sans-serif;
$font-big:  'Alumni Sans Pinstripe', sans-serif;
$font-cursive: 'Bilbo', cursive;
$font-cursive2: 'Carattere', cursive;
$font-size-s: 1.1vh;
$font-size-m: 1.6rem;
$font-size-l: 1.8rem;
$font-size-xl: 16vh;

$z-index-model: 5;
$z-index-section: 10;

