$color-primary: #0d0d0d;
$color-secundary: #fefefe;
$color-tertiary: #868889;
$color-background-text: #c80618;

$font-primary: 'Big Shoulders Stencil Display', cursive;
$font-secundary: 'Bebas Neue', cursive;

$font-size-primary: 2.4rem;
$font-size-secundary: 3.6rem;
$font-size-big: 6.8rem;
$font-size-alternative : 11.8rem;

$z-index-primary: 10;
$z-index-secundary: 20;