.sponsor-section {
  background-color: $primary-blue;
  padding: 5rem 4rem;

  &__cards {
    display: flex;
  }

  &__cards .card:last-child {
    margin-bottom: 0;
  }

  &__cards .card:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .sponsor-section {
    &__cards {
      flex-direction: column;
    }
  }
}
