$color-primary: #020202;
$color-secondary: #FD054D;
$color-tertiary: #FDFDFD;
$color-bubble: #30A080;
$color-background-section: #99E0CC;

$font-primary: 'Gupter', serif;
$font-secondary: 'Inter', sans-serif;
$font-title-essence:  'Gothic A1', sans-serif;
$font-title-of:  'Grey Qo', cursive;
$font-number: 'Italiana', serif;
$font-logo: 'IM Fell French Canon', serif;
$font-list: 'Poppins', sans-serif;

$font-size-s:1rem;
$font-size-m:2rem;
$font-size-l:3rem;

$layer-1:-1;
$layer-2:10;
$layer-3:20;
$layer-4:30;