$color-primary: #ffffff;
$color-secondary: #c23a55;

$font-primary:'Libre Caslon Text', serif;
$font-secondary: 'Golos Text', sans-serif;

$font-size-s: 1.4rem;
$font-size-m: 3.2vh;
$font-size-xl: 11.5vh;

$shadow-magazine: 15px 15px 20px -7px rgba(0,0,0,0.4);

$z-indez-model: 10;
$z-indez-section: 10;
