@import './assets/styles/index';

.magazzine{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/img/background.png");
    background-size: cover;
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    border: 20px solid $color-primary;
    height: 80%;
    width: 80%;
    position: relative;
    margin-top: 5%;

    &__bubble {
            position: absolute;
            background-color: $color-bubble;
            border-radius: 50%;
            z-index: $layer-1;

            &--topLeft {
              font-size:3.2em;
              text-align: center;
              line-height: 2.3em;
              font-family: $font-number;
              top: -15%;
              left: 10%;
              width: 20%;
              height: 35%;
            }

            &--left {
              background-color: $color-secondary;
              top:30%;
              left: -14%;
              width: 25%;
              height: 50%;
            }

            &--rigth {
              top: -15%;
              right: -12%;
              width: 30%;
              height: 60%;
            }
        }

}

.sections{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100%;
  background-color: $color-tertiary;
  z-index: $layer-2;

  &__left{
    width: 100%;
    height: 100%;

    .header{
      height: 9%;
      display: flex;
      align-items: flex-end;

      &__img{
        width: 15%;
        height: 35%;
        margin:0 5px 2.5% 0px;
      }

      &__title{
        font-family: $font-logo;
        font-size: 2rem;
        text-transform: uppercase;
        color: $color-primary;
      }
    }

    .article{
      height: 91%;
      position:relative;

      &__title{
        // position: relative;
        z-index: $layer-3;
        font-family: $font-primary;
        font-size: 14.0rem;
        font-weight: 900;
        color: $color-tertiary;

        &--top{
          position: absolute;
          bottom: 28%;
          left: -22%;
        }
        &--bottom{
          position: absolute;
          bottom: 0%;
          left: 22%;
        }
      }

      &__img{
        position: absolute;
        object-fit: fill;

        &--tertiary{
          width: 70%;
          height: 80%;
          top:0px;
          right: -10%;
        }
        &--secondary{
          width: 60%;
            height: 90%;
          bottom:0px;
          left: 0
        }
        &--primary{
          width: 80%;
          height: 60%;
          bottom:0px;
          right: 5%;
        }
      }
    }
  }

  &__center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .list{
      height: 5%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap:15%;
      margin-right: 15%;
      padding-bottom: 2%;
      font-family: $font-list;
      font-size: 0.8rem;
      font-weight: 900;
    }

    .header{
      height: 22%;
      position: relative;
      margin-top: 2%;
      padding-left: 3%;

      &__title{
        color: $color-secondary;
        width: 65%;
        text-align: right;

        &--essence{
          font-family: $font-title-essence;
          font-size: 3rem;
          text-transform: uppercase;
        }
        &--of{
          font-family: $font-title-of;
          color: $color-primary;
          font-size: 2.5rem;
          vertical-align: top;
        }
        &--fashion{
          font-family: $font-primary;
          font-size: 3rem;
          text-transform: uppercase;
        }
      }

      &__img{
        position: absolute;
        z-index: $layer-2;
        width: 65%;
        height: 60%;
        top: -10%;
        right: 0;
      }

      &__subtitle{
        font-family: $font-secondary;
        position: absolute;
        right: 20%;
        color: $color-primary;
      }
    }

    .paragraph{
      width: 88%;
      margin: 0 5%;
      font-family: $font-secondary;
      font-size: 0.75rem;
      text-align: left;
    }

    .img{
      width: 100%;
      height: 40%;

    }
  }

  &__right{
    width:80%;
    height: 100%;
    background-color: $color-background-section;
    position: relative;
    margin-left: 20%;

    .colors{
      position: absolute;
      object-fit: fill;
      z-index: $layer-4;
      height: 20%;
      width: 9%;
      top: -14%;
      right: 10%;
    }

    .img{
      width: 100%;
      height: 100%;
      object-fit: fill;
      position: absolute;
    }

    .paragraph{
      position: absolute;
      z-index: $layer-4;
      font-family: $font-secondary;
      font-size: 0.9rem;
      text-align: left;
      color: $color-tertiary;

      &--top{
        width: 90%;
        top: 9%;
        right: -35%;
        letter-spacing: 1px;
      }
      &--bottom{
        font-size: 0.6rem;
        width: 80%;
        text-align: center;
      }
    }

    .aside{
      position: absolute;
      bottom: 5%;
      left: 0%;
      z-index: $layer-4;
      background-color: $color-bubble;
      border-radius: 50%;
      width: 50%;
      height: 25%;
      display: flex;
      justify-content:center ;
      align-items: center;
    }

    .asterisk{
      position: absolute;
      font-family: $font-secondary;
      font-size: 14rem;
      font-weight: 900;
      color: $color-secondary;
      z-index: $layer-4;
      bottom: -11.8vh;
      left: -5vw;
    }

    .barCode{
      position: absolute;
      width: 4%;
      height: 20%;
      bottom: 2%;
      right: 0;
    }

    .footer{
      position: absolute;
      transform: rotate(-90deg);
      font-size: 0.8rem;
      width: 30vh;
      bottom: 15%;
      left: 75%;
    }
  }
}
