$primary-blue: #018abd;
$primary-white: #f1f1f1;
$primary-black: #2b2b2b;
$primary-white-749: #ffffffbf;

$font-primary: 'Inter', sans-serif;

$font-size-s: 1.4rem;
$font-size-m: 3.2vh;
$font-size-xl: 19.5vh;

$shadow-magazine: 15px 15px 20px -7px rgba(0, 0, 0, 0.4);

$z-indez-model: 10;
$z-indez-section: 20;

$tablet-max-width: 768px;
$screens-min-width: 769px;

/*
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV
*/