$color-primary:#0e0e10;
$color-secondary:#0a3055;
$color-third:#282426;


$font-primary: 'Open Sans', sans-serif;
$font-secundary: 'Roboto', sans-serif;
$font-alternate: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


$font-size-xs: 2vh;
$font-size-s: 2.7vh;
$font-size-m: 3vh;
$font-size-l:4.5vh;
$font-size-xl: 5vh;
$font-size-xxl: 11.5vh;

$shadow-form: 4px 5px 0px 4px rgba(0,0,0,0.75);

$z-indez-logo: 8;
$z-indez-title: 10;
 