*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--typography-principal);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

@font-face {
  font-family: "vogue";
  src: url("../fonts/Vogue.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
body {
  background-image: url("https://www.pixeden.com/media/k2/galleries/220/001-wood-melamine-subttle-pattern-background-pat.jpg");
  background-image: url(./assets/img/001-wood-melamine-subttle-pattern-background-pat.jpg);
  background-size: cover;
  background-repeat: round;
  margin: 20px;
}

.magazine {
  background-color: darksalmon;
  width: 50vw;
  height: 85vh;
  width: 60vh;
  margin: auto;
  margin: 7.5vh auto;
  background-image: url(./assets/img/gray-wood-texture-background_64749-613.avif);
  background-size: cover; /*ajusta sin que sobren elementos*/
  position: relative;
  box-shadow: 4px 5px 0px 4px rgba(0, 0, 0, 0.75);
}
.magazine__model {
  position: absolute;
  top: 0;
  left: 6%;
  height: 100%;
  z-index: 10;
}
.magazine__title {
  line-height: 1; /*Interlineado*/
  flex-direction: column;
  font-size: 11.5vh;
  color: #ec629d;
  text-transform: uppercase; /*Transforma el texto en mayuscula*/
  text-align: center;
  margin-inline: auto;
  margin: 8px 0 0;
  font-family: "M PLUS 1p", sans-serif;
  width: fit-content; /*Se ajusta al tamaño de los hijos*/
  font-weight: bolder;
}
.magazine__title p:first-child {
  font-size: 2.7vh;
  color: #fbfdfe;
  font-weight: 200;
  text-transform: none;
  margin-inline: auto;
  font-family: "Arapey", serif;
}
.magazine__title p:last-child {
  line-height: 0.8;
  color: #282426;
  font-size: 2vh;
  font-family: "Arapey", serif;
  justify-content: center;
  align-items: flex-start;
  margin-left: 80px;
}

.content {
  z-index: 20;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.content__left {
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.content__right {
  font-weight: 300;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.content__wording {
  line-height: 1;
}
.content__wording--pink {
  color: #ec629d;
  font-weight: bold;
  font-size: 5vh;
}
.content__wording--white {
  color: #fbfdfe;
  font-size: 3vh;
}
.content__wording--black {
  color: #0e0e10;
  font-size: 2.7vh;
}
.content__sos {
  color: #fbfdfe;
  font-size: 3vh;
  background-color: rgba(255, 0, 255, 0.952);
  font-weight: 700;
}

.money {
  line-height: 1;
  display: block;
  position: relative;
  color: #fbfdfe;
}
.money__love {
  display: inline-block;
  font-size: 5vh;
  font-weight: bold;
}
.money__have {
  display: inline-block;
  font-size: 3vh;
  font-weight: 300;
}

.ideas {
  line-height: 1;
  display: inline-block;
  position: relative;
}
.ideas__200 {
  font-size: 5vh;
  color: #ec629d;
  font-weight: bold;
}
.ideas__dazzling {
  font-size: 3vh;
  color: #0e0e10;
  font-weight: bold;
}

.Jenifer {
  display: inline-block;
  position: relative;
  color: #0e0e10;
  margin-left: 20px;
}
.Jenifer__lopez {
  font-size: 3vh;
  font-weight: bold;
}
.Jenifer__soltera {
  font-weight: 300;
  font-size: 2.7vh;
}

.code {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 80px;
  width: 80px;
  z-index: 30;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: -40px;
  padding-left: 20px;
}
.code__barra {
  display: inline;
  margin-left: 10px;
}
.code__regalos {
  display: inline;
  font-size: 2.7vh;
  margin-left: 60px;
  font-weight: 700;
}

.superfiesta {
  display: inline-block;
  position: relative;
  color: #ec629d;
  font-weight: bolder;
  font-size: 4.5vh;
  margin-left: 90px;
  margin-top: 10px;
  z-index: 35;
  line-height: 1.1;
}

/*# sourceMappingURL=style.css.map */