@import './assets/styles-form';




body {
        background-image: url ('https://awesomewallpapers.files.wordpress.com/2010/08/stratosphere.jpg');
        background-image: url(./assets/img/stratosphere.jpg);
        background-size: cover;
        margin: 20px;
        box-sizing: border-box;
        background-position: 0, 0, 10px, 10px;
        display: flex;
        font-family: $font-alternate;
        min-height: 100vh;
        flex-direction: column;
        display: flex;
    
      
}

.picture {
    display:flex;
   
    right: 60;
        //como hacer que quede el logo antes del titulo en html css

    transform: translate(-40%, -40%);
    max-width: 50px;
    margin: auto;
    width: 50px;
    float:left;
    right: 30;
   
    // transform: rotate(-30); //girar imagen  
    margin-top: 40px; /* ajustar los valores para mover la imagen */

   

}


.title {
    position: relative;
    display: flex;



    &__parrafo {
        flex-direction: row;
        font-size: $font-size-xxl;
        font-family: $font-primary;
        display:inline-flex;
        left: 10;
        align-items:center; 
        transform: translate(-158%, -30%);
    }

}






.form {
   
    position: relative;
    font-size: $font-size-m;
    padding:auto;
    border-radius: 20px;
    width: 32vw;
    height: auto;
    width: 38vw;
    margin: auto;
    background-color:rgb(252, 252, 252);
    padding: 20px;
    font-family: $font-alternate;
    color:$color-primary;
    box-shadow: $shadow-form;
    
}



    



