@import './assets/styles-form';




body {
        background-image: url ('https://www.pixeden.com/media/k2/galleries/220/003-wood-melamine-subttle-pattern-background-pat.jpg');
        background-image: url(./assets/img/003-wood-melamine-subttle-pattern-background-pat.jpg);
        background-size: cover;
        margin: 30px;
        box-sizing: border-box;
        background-position: 0, 0, 10px, 10px;
        display: flex;
        font-family: $font-alternate;
        min-height: 100vh;
        flex-direction: column;
    
      
}

// .form {
//     display: inline-flex;
//     background-color:aliceblue;
//     color: $color-primary;
//     width: 90%;
//     max-width: 400px;
//     padding: 4.5em 3em;
//     border-radius: 10px;
//     background-image: url(./assets/img/pexels-mudassir-ali-2680270.jpg);
//     position:relative;
//     font-size: $font-size-m;
//     // font-family: $font-alternate;
    // margin-top: 150px;
    // padding:5vh;
    // box-shadow: $shadow-form;
    // border-radius: 5px;
    // border: solid 2px #999;
    // position: absolute;
    // top: 30%;
    // left: 30%;
    //  transform: translate(-50%, -50%);
    //  width: 280px;
   
    
 

}

// .title {
//     flex-direction: row;
//     font-size: $font-size-xxl;
//     font-family: $font-secundary;
//     float:inherit; //como hacer que quede el logo antes del titulo en html css
//     align-items:center; 
//     top: 30%;
//     left: 30%;
//     right: 45%;
//     transform: translate(50%, 50%);

    
// }

// .title img {
//     max-width: 10%;
//     width: 10%;
//     float:left;
//     transform: rotate(-10deg); //girar imagen  
//     margin-top: 40px; /* ajustar los valores para mover la imagen */
//     flex-direction: row;

// }

