@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  /** 16px * 0.625 = 10px */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--typography-principal);
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-sizing: border-box;
  line-height: 1.4; /* Optional */
  hyphens: auto; /* Optional */
  font-smooth: always; /* Optional */
  -webkit-font-smoothing: antialiased; /* Optional */
  -moz-osx-font-smoothing: grayscale; /* Optional */
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover; /* optional*/
  object-position: center center; /* optional*/
}

a {
  display: block;
}

p a {
  display: inline;
}

p {
  text-align: justify;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
  align-self: inherit;
}

hr {
  background-color: var(--color-primary);
  width: 100%;
  height: 0.3rem;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  appearance: none; /* Optional */
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

main,
section,
aside,
article {
  align-self: inherit;
}

body {
  background-image: url "https://awesomewallpapers.files.wordpress.com/2010/08/stratosphere.jpg";
  background-image: url(./assets/img/stratosphere.jpg);
  background-size: cover;
  margin: 20px;
  box-sizing: border-box;
  background-position: 0, 0, 10px, 10px;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  position: relative;
  display: flex;
}
.title__picture {
  transform: translate(30%);
  max-width: 50px;
  margin: auto;
  width: auto;
  margin-block-start: 19px;
  transform: translate(-60%);
}
.title__parrafo {
  font-size: 11.5vh;
  font-family: "Open Sans", sans-serif;
  transform: translate(-148%);
  justify-content: center;
  color: darkorange;
  font-weight: bold;
}

.form {
  position: relative;
  font-size: 3vh;
  border-radius: 20px;
  width: 32vw;
  height: auto;
  width: 38vw;
  margin: auto;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  color: #0e0e10;
  box-shadow: 4px 5px 0px 4px rgba(0, 0, 0, 0.75);
}
.form__warning {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5vh;
  font-weight: bold;
  justify-content: center;
}

.information {
  font-family: "Roboto", sans-serif;
  font-size: 3vh;
  font-weight: bolder;
}

.complete {
  width: 100%;
  background-color: rgba(210, 236, 241, 0.5);
  padding: 9px;
  margin-bottom: 16px;
  border: 1px solid rgb(83, 83, 83);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #282426;
  font-weight: 100;
  border-radius: 5px;
}

.options {
  display: block;
  position: relative;
  border: 3px solid rgb(83, 83, 83);
  margin-left: 7px;
  padding: 2px;
  border: 2px solid #696767;
}
.options__sp {
  font-weight: bold;
  font-style: #0e0e10;
  text-align: center;
  vertical-align: baseline;
}
.options__button {
  text-decoration: underline rgb(31, 31, 32);
  color: darkblue;
}

.send {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  margin-left: 15px;
  background-color: rgba(10, 54, 97, 0.5);
  border-radius: 10px;
  padding: 12px;
  color: #0e0e10;
  background-color: rgb(157, 180, 136);
  font-size: 18px;
  cursor: pointer;
  transform: translate(15%);
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  margin-left: 12px;
  background-color: white;
  border: 1px solid rgb(12, 11, 11);
}

input[type=checkbox]:checked {
  margin-left: 12px;
  width: 1rem;
  height: 1rem;
  background-color: green;
  border: 1px solid rgb(12, 11, 11);
}

/*# sourceMappingURL=styleform.css.map */
