$color-primary: #FFF;
$color-secundary:#e9eb93;

$font-prymary:'DM Serif Display', serif;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 4.6rem;

$shadow-magazine:10px -1px 11px -4px rgba(0,0,0,0.75);

$z-index-model:10;
$z-index-section:20;