@import '@styles';

.board {
  padding: 1rem;
  background-color: $bg-secondary;
  width: fit-content;
  margin: 1rem auto;
  box-shadow: $box-shadow-low;

  &__add-task {
    width: -webkit-fill-available;
    width: -moz-available;
  }
}
