@import url("https://fonts.googleapis.com/css2?family=Babylonica&family=Zeyada&display=swap");

html {
  width: 100%;
  height: auto;
  background-image: url("paper.jpg");
  background-size: cover;
}

.section-header {
  font-family: "Babylonica", cursive;
  font-size: 6vw;
  color: rgb(38, 20, 0);
}

#line1 {
  border-color: black;
}

body {
  font-family: "Zeyada", cursive;
}

.first-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: repeat(1, 45vh);
  align-content: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10%;
  position: relative;
}

#verticaltxt {
  writing-mode: vertical-rl;
  width: 95%;
  height: 150%;
  justify-content: center;
  position: relative;
}

.second-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 2fr));
  grid-template-rows: repeat(1, 20vh);
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10%;
  border: 5%;
  position: relative;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  html {
    font-size: 1 rem;
  }

  .section-header {
    font-size: 3rem;
  }

  .first-main {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }

  #verticaltxt {
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    writing-mode: horizontal-tb;
    position: inherit;
  }

  .second-main {
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.7rem;
  }

  .section-header {
    font-size: 2rem;
  }

  .first-main {
    grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));
  }

  #verticaltxt {
    grid-template-columns: repeat(auto-fit, minmax(8%, 1fr));
    writing-mode: horizontal-tb;
  }
  .second-main {
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
}
