@font-face {
    font-family: 'Gloock-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Gloock-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'PTSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/PTSans-Regular.ttf') format('opentype');
}